
<table class="tx-t3html5videoplayer" >
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.title" />
		</td>
		<td>
		{t3Html5Video.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.poster_image" />
		</td>
		<td>
				<f:image src="{t3Html5Video.posterImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.mp4" />
		</td>
		<td>
				<a href="{t3Html5Video.mp4.originalResource.publicUrl}">
					{t3Html5Video.mp4.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.ogg" />
		</td>
		<td>
				<a href="{t3Html5Video.ogg.originalResource.publicUrl}">
					{t3Html5Video.ogg.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.webm" />
		</td>
		<td>
				<a href="{t3Html5Video.webm.originalResource.publicUrl}">
					{t3Html5Video.webm.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.youtube_id" />
		</td>
		<td>
		{t3Html5Video.youtubeId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.vimeo_id" />
		</td>
		<td>
		{t3Html5Video.vimeoId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.video_autoplay" />
		</td>
		<td>
		{t3Html5Video.videoAutoplay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.video_loop" />
		</td>
		<td>
		{t3Html5Video.videoLoop}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.video_controls" />
		</td>
		<td>
		{t3Html5Video.videoControls}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3html5videoplayer_domain_model_t3html5video.video_preloading" />
		</td>
		<td>
		{t3Html5Video.videoPreloading}
		</td>
	</tr>
</table>