
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages renderMode="div" />

<f:comment><!-- TODO: define the sysfolder to read from --></f:comment>
<f:debug>{t3Html5Videos}</f:debug>
<f:debug>{data}</f:debug>
<f:debug>{settings}</f:debug>
<f:for each="{t3Html5Videos}" as="video">
	<f:debug>{video}</f:debug>
	<f:render partial="T3Html5Video/SingleRecord" arguments="{video: video}"/>
</f:for>

</f:section>